{% extends "players/base.html" %}
{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>ID</td>
            <td>Player Name</td>
            <td>Player Email</td>
            <td>Country</td>
            <td>Game</td>
            <td>Score</td>
            <td>
                <a href="{% url 'insert' %}" class="btn btn-outline-success"><i class="fas fa-plus"></i> Add New </a>
            </td>
        </tr>
    </thead>
    <tbody>
    {% for i in p_list %}
        <tr>
            <td>{{i.Players_Id}}</td>
            <td>{{i.Player_Name}}</td>
            <td>{{i.Player_Email}}</td>
            <td>{{i.Country}}</td>
            <td>{{i.Game}}</td>
            <td>{{i.Score}}</td>
            <td>
                   <a href="{% url 'edit' i.Players_Id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
            </td>
        </tr>
    {%endfor%}
    </tbody>
</table>
{% endblock content %}